.modal {
    width:'100vw';
    height:'100vh'
}

.modal-dialog {
    height: auto
}

.modal-content {
    width: 85%!important;
    height: 70%;
    margin: auto;
}

.signIn {
    background-color: #5cb85c!important;
    border-color: #5cb85c!important
}

.fSignIn {
    background-color: #506dab!important;
    border-color: #506dab!important
}

.gSignIn {
    background-color: #dd4b39!important;
    border-color: #dd4b39!important
}

.textInfo:hover > span {
    cursor: pointer
}