.rowBanner {
    margin-bottom: 2%;
    height: 750px
}

@media only screen and (min-width: 960px) {
    .banner_container {
        height: calc(100vh - 87.5px);
        padding: 0px;
        margin: -12px;
        background-color: #f6dddf;
        justify-content: center;
        display: flex;
        flex-direction: row;
        max-height: 700px;
    }
}

/* .banner_container {
    padding: 15px 0;
    background-color: #f6dddf;
    display: flex;
    flex-direction: column;
} */

.banner_container .banner_illustration {
    /* align-items: flex-start; */
    width: 40%;
    
}

.banner_container .banner_illustration .banner_img {
    margin-top: 23%;
    max-height: 70%;
    
}

.banner_container .banner_introduction {
    width: 60%;
    text-align: left;
    margin-top: 12%;
    color: #687a80;
    /* padding-right: 10px;
    margin-right: 10px; */
}

.banner_container .banner_introduction .banner_intro_title {
    border-radius: 10px;
    font-size: 5em;
    display: inline;
    background-color: #f7f7f7;
    font-weight: 700;
    font-family: 'Courier New', Courier, serif;
    padding:  5px 15px;

}

.banner_container .banner_introduction .banner_intro_description {
    width: 90%;
    border-radius: 10px;
    font-size: 1.4em;
    margin-top: 10px;
    color: grey;
    padding: 10px 15px;
    background-color: #f7f7f7;
}

.banner_container .banner_introduction .banner_intro_description .banner_intro_button_explore {
    margin-top: 15px;
    font-size: 1.2rem;
    padding: 7px 15px;

    background-color: #f6dddf;
    color: #687a80;
    font-weight: 400;
    transition-property: background-color, color;
    border-radius: 10px;
    border-color: #f6dddf;
}

.banner_container .banner_introduction .banner_intro_description .banner_intro_button_explore:hover {
    
    background-color: #df9c9d;
    color: #f7f7f7;
    font-weight: 600;
    transition-property: background-color, color;
    border-radius: 10px;
    border-color: whitesmoke;
}