.room_detail_container {
    line-height: 1.5;
}

.room_detail {

}

.show_detail {
    background-color: #f6dddf;
    padding: 15px 20px;
}

// {[styles.row, styles.justify_space_around].join(" ")}

.row {
    // background-color: #f6dddf;
}

.justify_space_around {
    // background-color: #f6dddf;
}