.message {
    display: flex;
    flex-direction: column;
}

.messageTop {
    display: flex;
}

.messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText {
    padding: 10px;
    border-radius: 20px;
    color: black;
    background-color: lightgray;
    max-width: 300px;
}

.messageBottom {
    font-size: 12px;
    margin-top: 5px;
    align-self: start;
}

.message.own {
    align-items: flex-end;
}

.message.own .messageText {
    background-color: #1877f2;
    color: white;
}

.message.own .messageBottom {
    font-size: 12px;
    margin-top: 5px;
    align-self: end;
}
