.slider_container {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;
  }
  
  .slider {
    position: relative;
    width: 250px;
  }
  
  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
    position: absolute;
  }
  
  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 3px;
  }
  
  .slider__track {
    background-color: #faebec;
    width: 100%;
    z-index: 1;
  }
  
  .slider__range {
    background-color: #adadad;
    z-index: 2;
  }
  
  .slider__left-value,
  .slider__right-value {
    color: #000000;
    font-size: 15px;
    margin-top: 15px;
  }
  
  .slider__left-value {
    left: 0px;
  }
  
  .slider__right-value {
    right: -4px;
  }
  
  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: chartreuse;
  }
  
  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 250px;
    outline: none;
  }
  
  .thumb--zindex-3 {
    z-index: 3;
  }
  
  .thumb--zindex-4 {
    z-index: 4;
  }
  
  .thumb--zindex-5 {
    z-index: 5;
  }
  
  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #f8bfc3;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  
  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #f8bfc3;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  